<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="helloWorld" class="com.aug.jma.domain.HelloWorld">
        <property name="message" value="Jeff Test Spellchecker Name"></property>
    </bean>
    <bean id="bStartEventHandler" class="com.aug.jma.listener.BStartEventHandler"></bean>
    <bean id="cStartEventHandler" class="com.aug.jma.listener.CStartEventHandler"></bean>
    <bean id="cStopEventHandler" class="com.aug.jma.listener.CStopEventHandler"></bean>
</beans>